# Dependencias
node_modules/

# Archivos de compilación
dist/
build/

# Variables de entorno y secretos
.env
.env.*
!.env.example

# Logs y depuración
*.log
npm-debug.log*

# Archivos de sistema y editores
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json